
/*fomatação fundo*/
body{
    margin: 0;
    padding: 0; 
    font-family: "comfortaa", cursive;
}
.fundo-home{
    background-image: url(../Img/614.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.main-login {
    background-image: url(../Img/614.jpg);
    height: 88vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 
    justify-content: center;
    align-items: center;
 
    
 }

 .main-login2{
    width: 100vw;
    height: 100vh;
    background-image: url(../Img/614.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-login{
    width: 35vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;

}
.left-login  {
    text-shadow: 5px 5px 10px #0f051d;
    color: #e2ebe7;
   
}
header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    }
 header{
        width: 100%;
        background-image: linear-gradient(90deg, rgba(255, 102, 0, 0.8), rgba(253, 250, 71, 0.8));
        display: flex;
        justify-content: space-around;

    }

/*Fim fomatação fundo*/
.plano-de-fundo{
    height: 150vH;


}

    .logo-imagem{
        width: 70px;
        height: 70px;
    }
    
    .container-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .logo-texto{
        margin-left: 20px;
        color: white;

    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .form-helder{
        width: 40vw;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

/*inicio login */
.login {
    width: 900px;
    height: auto;
    border: 2px solid rgba(39, 3, 3, 0.7);
    border-radius: 80px 80px 80px 80px;
    color: #fff;
    background-color: rgba(39, 3, 3, 0.7);;
    top: 62%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 68px 28px;
}
.usuario{
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left:112px;
}
h1 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align:center;
    font-size: 30px;
}
h2 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align:center;
    font-size: 20px;
    color: #e2ebe7;
}
h3 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align:center;
    font-size: 15px;
    color:#000
}
.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login input, select{
    width: 100%;
    margin-bottom: 18px;

}
.login input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], select{
border: 10px;   
border-bottom: 1px solid white;
background: transparent;
outline: none;
height:30px;
color: white;
font-size: 16px;
}
.login input[type="submit"], input[type="button"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius:20px;
    transition: 0.2s;

}
.login input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
}
.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transition: 0.2s;
}

.login a:hover {
    transition: 0.2s;
    color: #ff4d4d;
}
/*fim parte login */